streamlit
pandas
gspread
google-auth
google-auth-oauthlib
google-api-python-client
requests
python-dotenv
Pillow
streamlit-quill
extra-streamlit-components
streamlit-option-menu # هذا هو الجديد
plotly
google-cloud-storage
openpyxl
